body{position:relative;font-family: "Microsoft Yahei";}
p {font-size: 16px;line-height: 1.75;  margin-bottom: 1em;}
h2{font-size:24px;padding-top:30px;padding-bottom:10px;}
.bs-docs-sidebar{top:20px;}

.guide-container h1{padding-bottom:9px;margin: 40px 0 20px;border-bottom: 1px solid #eee;}